.menu {
  display: flex;
  align-items: center;
}

.nav {
  width: 70%;
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.link {
  flex: 1;
  background-color: #47b2cb;
  color: #fff;
  border: 1px solid;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s ease-out;
}

.link:hover,
.link:focus {
  background-color: #fff;
  color: #47b2cb;
}

.logout {
  position: absolute;
  right: 0.5rem;
  border: none;
  background-color: white;
  color: #47b2cb;
  cursor: pointer;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-100px * 5))
  }
}

.slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 660px;
}

.slider::before,
.slider::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.logos {
  display: flex;
  /* justify-content: space-evenly; */
  animation: scroll 30s linear infinite;
  width: calc(100px * 10);
}

.logo {
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 100px;
}

.pie {
  width: 200px;
  height: 200px;
  background-color: #e3f2e3;
  margin: 0 auto;
  margin-top: 1rem;
  background-image: conic-gradient(#5ac8fa var(--percentage),
    #c5e6f4 0);
  border-radius: 50%;
}

.center {
  width: 180px;
  height: 180px;
  background-color: white;
  border-radius: 50%;
  margin: 10px;
  position: absolute;
}
